@import "../../colors";

$headerWidthMenuMax: 600px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: clamp(15px, 3vw, 25px);

  font-family: 'Poppins', sans-serif;
  padding: 18px 25px 15px 40px;
  background-color: $headerBackground;
  border-bottom: 2px solid $headerBorder;
  z-index: 1;

  @media (max-width: $headerWidthMenuMax) {
    justify-content: space-between;
  }

  .header-main {
    font-size: 24px;
    font-weight: 500;
    margin-right: clamp(15px, 4vw, 25px);
    cursor: pointer;
  }

  .header-button {
    font-weight: 300;
    transition: 0.2s color ease-in;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: $fontLightHover;
    }
  }

  .rightAlign {
    margin-right: 70px;
  }
}