@import "../../colors";

.button-main {
  display: inline-block;
  transition: 0.3s ease-in-out;
  user-select: none;
  padding: 0.5em 1em;
  background-color: $headerBackground;
  color: $fontLight;
  font-weight: 500;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: $headerBorder;
  }
}