@import "../../colors";

.custom-table {
  width: 100%;
  color: $fontDark;
  border-spacing: 0;
  text-align: right;
  font-size: clamp(14px, 2vw, 18px);
  margin-bottom: 1rem;

  tr {
    transition: 0.2s background-color ease-in-out;
    &:nth-child(even) {
      background-color: $backgroundLightAlt;
    }
    &:nth-child(odd) {
      background-color: $backgroundLightAlt2;
    }
    &:hover {
      background-color: $backgroundLightAltHover;
    }

    td {
      padding: 10px clamp(5px, 1.2vw, 30px) 10px 0;
    }
  }

  th,
  td {
    border-bottom: 1px solid #f0f0f0;

    .dropdown {
      .dropdown-button {
        padding: 5px 10px 2px 10px;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }

  th {
    transition: 0.3s background-color ease-in;
    user-select: none;
    padding: 15px;
    background-color: $backgroundLight;
    text-align: center;
    font-weight: 500;
    border-right: 1px solid $borderLight;
    border-bottom: 2px solid $borderLightAlt;

    &:hover {
      background-color: $borderLight;
    }
  }
}