$fontLight: rgba(255, 255, 255, 0.8);
$fontLightHover: #d0d0d0;

$fontDark: #444444;

$background: #242424;

$backgroundLight: #f0f0f0;
$backgroundLightHover: #dadada;
$backgroundLightAlt: #dadada;
$backgroundLightAlt2: #e0e0e0;
$backgroundLightAltHover: #d0d0d0;

$backgroundDark: #0d0d17;
$backgroundDarkAlt: #1a1a21;
$backgroundDarkAlt2: #17171c;
$backgroundDarkAltHover: #20202a;

$headerBackground: #444444;
$headerBorder: #3d3d3d;

$borderLight: #eaeaea;
$borderLightAlt: #dadada;