:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: right;
  margin-right: 10px;

  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    min-width: 230px;
    z-index: 1;
    border: 1px solid #eaeaea;
    background-color: #f0f0f0;
    padding: 8px 0;
    border-radius: 5px;

    button {
      width: 100%;
      background-color: #f0f0f0;
      transition: background-color 0.2s ease-out;
      color: #444444;
      padding: 6px 24px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      border: none;
      text-align: left;

      &:hover {
        background-color: #dadada;
      }
    }
  }

  .dropdown-button {
    cursor: pointer;
  }
}